<?xml version="1.0" encoding="UTF-8"?>

<!-- 配置文件修改时重新加载，默认true ;scanPeriod：15seconds-->
<configuration scan="true" scanPeriod="10000" debug="true" >

    <!-- 定义日志文件的存储地址 -->
    <property name="CATALINA_BASE" value="logs"></property>

    <!-- 配置属性信息 -->
    <!-- scope默认为local，即只在初始化阶段有效；context：全局有效；system：可以从System.getProperties获取-->
    <property name="USERNAME" value="admin" scope="context"></property>

    <!-- 控制台输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <!--   {"@timestamp":"2024-01-16T11:26:45.790+08:00","@version":"1","message":"tom:Hello world.","logger_name":"com.lct.HelloWorld","thread_name":"main","level":"ERROR","level_value":40000,"USERNAME":"admin"}     -->
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
        </encoder>
        <!-- 自定义过滤器 -->
<!--        <filter class="com.lct.introduction.com.lct.filter.SampleFilter"></filter>-->
        <!-- Level过滤器  只打印info级别-->
<!--        <filter class="ch.qos.logback.classic.filter.LevelFilter">-->
<!--            <level>INFO</level>-->
<!--            <onMatch>ACCEPT</onMatch>-->
<!--            <onMisMatch>DENY</onMisMatch>-->
<!--        </filter>-->
        <!-- Threshold过滤器  只打印INFO级别以上-->
<!--        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
<!--            <level>INFO</level>-->
<!--        </filter>-->
<!--        <encoder charset="UTF-8">-->
<!--            &lt;!&ndash; 输出日志记录格式 &ndash;&gt;-->
<!--            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
<!--        </encoder>-->
    </appender>

    <!-- 每天产生一个文件，保存15天
        生成新文件时，加锁阻塞
        写文件时，加锁阻塞
     -->
    <appender name="FILE2" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--  当前正在使用的文件   -->
        <file>${CATALINA_BASE}/bb.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${CATALINA_BASE}/bb.%d{yyyyMMdd}.log</fileNamePattern>
            <!-- 最多保留15天 -->
            <maxHistory>15</maxHistory>
            <!--  默认不会压缩          -->
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- 异步日志   -->
    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <!--    不会丢弃日志；默认当队列剩余不足20%、并且是INFO以下的日志级别，会丢弃    -->
        <discardingThreshold>0</discardingThreshold>
        <queueSize>100</queueSize>
        <!--   往队列放日志时不阻塞     -->
        <neverBlock>true</neverBlock>
        <appender-ref ref="FILE2"/>
    </appender>

    <appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator >
            <key>userid</key>
            <defaultValue>normal</defaultValue>
        </discriminator>
        <sift>
            <appender name="FILE-${userid}" class="ch.qos.logback.core.FileAppender">
                <file>${userid}-log.log</file>
                <!--  false:覆盖，              -->
<!--                <append>false</append>-->
                <layout class="ch.qos.logback.classic.PatternLayout">
                    <pattern>%d [%thread] %level %mdc %logger{35} %msg%n</pattern>
                </layout>
            </appender>
        </sift>
    </appender>
    <appender name="singleFile" class="ch.qos.logback.core.FileAppender">
        <file>config.log</file>
        <!--true：表示从尾部追加写；false：从头开始写 -->
        <append>true</append>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d [%thread] %level %mdc %logger{35} -%kvp -%msg%n</pattern>
        </layout>
    </appender>

    <appender name="MDC_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout>
            <!-- %X 输出MDC中的信息-->
            <Pattern>%X{first} %X{last} - %m%n</Pattern>
        </layout>
    </appender>


    <!-- 设置日志输出级别 -->
    <root level="DEBUG">
<!--        <appender-ref ref="FILE2" />-->
        <appender-ref ref="SIFT" />
    </root>

    <!--预先创建logger，additivity为true，日志会重复打印-->
    <logger name="file1" level="DEBUG" additivity="false">
        <appender-ref ref="singleFile" />
    </logger>

    <!--MDC-->
    <logger name="com.lct.mdc.SimpleMDC" level="DEBUG" additivity="false">
        <appender-ref ref="MDC_CONSOLE" />
    </logger>

</configuration>
