<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lct.study.dao.NodeInfoMapper">
  <resultMap id="BaseResultMap" type="com.lct.study.bean.NodeInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="node_type" jdbcType="TINYINT" property="nodeType" />
    <result column="addr" jdbcType="VARCHAR" property="addr" />
  </resultMap>
  <sql id="Base_Column_List">
    id, node_type, addr
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from node_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from node_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lct.study.bean.NodeInfo">
    insert into node_info (id, node_type, addr
      )
    values (#{id,jdbcType=BIGINT}, #{nodeType,jdbcType=TINYINT}, #{addr,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lct.study.bean.NodeInfo">
    insert into node_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="nodeType != null">
        node_type,
      </if>
      <if test="addr != null">
        addr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="nodeType != null">
        #{nodeType,jdbcType=TINYINT},
      </if>
      <if test="addr != null">
        #{addr,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lct.study.bean.NodeInfo">
    update node_info
    <set>
      <if test="nodeType != null">
        node_type = #{nodeType,jdbcType=TINYINT},
      </if>
      <if test="addr != null">
        addr = #{addr,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lct.study.bean.NodeInfo">
    update node_info
    set node_type = #{nodeType,jdbcType=TINYINT},
      addr = #{addr,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>